body {
	text-align: center;
}
.input {
	margin: 10px 10px 40px 10px;
	font-size: 20px;
}
.submit {
	font-size: 50px;
}
.container {
	height: 700px;
	width: 100%;
	display: inline-flex;
	background-color: black;
	border-radius: 35px;
}

.box {
	height: 600px;
	width: 44%;
	display: inline-flex;
	margin: 50px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 35px;
}
ul li {
	cursor: crosshair;
	position: relative;
	margin: 50px;
	width: 100%;
	display: block;
	background: rgba(1,1,1,0.1)
}



